div{

}
.block{
	 font-size: 25px;
	 color: red;
.p.arial
}

.arial{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.fontsize30{
	font-size: 30px;
}
italic{
	font-style: italic;

}
.font700{
	font-weight: 700;
}
.colorred{
	color: #f00f00;
}
.textright{
	text-align: justify;
	text-align: center;
}
.decoration{
	text-decoration: none;
}
.shadow{
	text-shadow: 1px 1px 10px #000;
}
.uppercase{
	text-transform: capitalize;
}
.ident{
	text-indent: 50px;
}
.lspace{
	letter-spacing: 5px;
}
.whitespace{
	white-space: nowrap;
}
.lineheight{
	line-height: 10px;
}